.aarau-west-section {
  padding: 102px 0 118px;
  background: linear-gradient(45deg, #3fc7b1, #36637a);
  .section-title {
    color: #fff;
    max-width: 580px;
    margin: 0 auto 32px;
    line-height: 1.22;
  }
  .section-subtitle {
    color: #fff;
    font-size: 20px;
    font-family: "Replica-Light";
    margin-bottom: 0;
  }
}
